body {
    font-family: 'Poppins', sans-serif;
}

section {
    margin-bottom: 50px;
}


/* common css end here  */

/* nav part css start here  */

.brand_logo {
    width: 100px;
}

.navbar .navbar-nav .nav-item .nav-link {
    margin-left: 15px;
    text-transform: uppercase;
    font-weight: 600;
}
/* nav part css end here  */

/* banner part css start here  */


#banner {
    background: url(../images/bg-1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.carousel-indicators li {
	width: 15px;
	height: 10px;
    border-radius: 30%;
	background: rgb(141, 138, 138);
}

.carousel-indicators .active {
	width: 40px;
	height: 10px;
    border-radius: 30px;
	background: linear-gradient(to left, rgb(250, 136, 7), rgb(219, 145, 8));
}


.banner_txt h1 {
    font-weight: 600;
    font-size: 30px;
}

.banner_txt p {
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
}

.buy-now-btn {
    padding: 10px 25px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 10px;
    background: #000;
    color: #fff;
    transition: all 0.5s ease-in-out;
}

.buy-now-btn:hover {
    cursor: pointer;
    background: #fff;
    color: #000;
}
/* nav part css end here  */


/* smartphone  part css start here  */


.smartphone_head h3 {
    font-weight: 600;
    font-size: 30px;
}


.smartphone_head h6 {
    font-weight: 400;
    font-size: 16px;
    color: orange;
}

.card-body h5 {
    font-weight: 500;
    font-size: 18px;
}
.card-body p {
    font-weight: 300;
    font-size: 14px;
}

.card-footer {
    background: #fff;
    border-top: none;
}
/* smartphone  part css end here  */


/* catagories part css start here  */

#catagories h3 {
    font-weight: 700;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 20px;
}

#catagories h2 {
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    position: relative;
}

#catagories h2::after {
    content: "";
    background: orange;
    width: 100px;
    height: 7px;
    border-radius: 5px;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}


.cat_bag {
    padding: 30px 10px;
    box-shadow: 10px 10px 30px silver;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 10px;
}
.cat_perfume {
    padding: 30px 10px;
    box-shadow: 10px 10px 30px silver;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 10px;
}
.cat_shoes {
    width: 100%;
    padding: 30px 10px;
    box-shadow: 10px 10px 30px silver;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 10px;
}

.cat_bag,
.cat_perfume,
.cat_shoes {
    padding: 20px 20px 0px 20px;
}

#catagories_mobile {
    display: none;
}
/* catagories part css end here  */